#footer{
	background-color: #fff;
	height: 150px;
	position: relative;

}
.footer-block{
	padding-top: 4px;
	width: 990px;
	margin: 0 auto
}
.links a{
    font-size: 15px;
	margin:5px;
	text-decoration: none;
}
a:hover{
	
    text-decoration: underline;

}

.table a{
	text-decoration: none;
	margin: 20px;
}
a:hover{
	
    text-decoration: underline;

}