body{
	background-color: #edf0f5;
}
.main{
	width: 990px;
	margin: 0 auto;
	overflow: auto;
	padding-bottom: 70px;
}

#image{
    height: 250px;
	width: 500px;
}
.clearfix{
	clear:both;
}

.connect{
	float: left;
     width:50%;
	margin-top: 50px;
}

.signup{
    margin-top: 50px;
	float: left;
	width:50%;

}

.signup .free{

	font-size: 20px;

}

.account input[name="firstname"]{
   border: 1px solid grey;
	border-radius: 5px;
    margin:8px;
	height: 30px;
	width: 35%;
	padding: 5px;
	
}

.account input[name="lastname"]{
   border: 1px solid grey;
	border-radius: 5px;
    margin:7px;
	height: 32px;
	width: 35%;
}

.account input[name="email"]{
   border: 1px solid grey;
	border-radius: 5px;
    margin:7px;
	height: 32px;
	width: 75%;
}
.account input[name="password"]{
   border: 1px solid grey;
	border-radius: 5px;
    margin:7px;
	height: 32px;
	width: 75%;
}
.birthday{
	margin:10px;
}
select{
	height: 25px;

}
.gender{
	margin:15px;
}
.terms{
	font-size: 15px;
}
.createbutton{
	margin:8px;
	height: 40px;
	width: 40%;
	background-color: #69a74e;
	border-radius: 5px;
	color:#fff;
	font-size: 18px;
	margin-bottom: 12px;
}
